.challenge-elements {
  width: 22%;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  color: gray;
  line-height: 130%;
  border-radius: 5px;
  transition: left 0.5s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1150px) {
  .challenge-elements {
    width: 30%;
  }
}

@media (max-width: 800px) {
  .challenge-elements {
    width: 90%;
  }
}

.challenge-elements:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.single-challenge-image {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.single-challenge-title {
  font-size: 25px;
  margin: 10px 0;
}

.author-date {
  font-size: 13px;
  margin: 10px;
}

.single-challenge-body {
  position: relative;
  width: 75%;
  margin: auto;
  text-align: left;
}

.challenge-card-item {
  padding-bottom: 60px;
}

.complete-section {
  height: 20px;
  width: 95vw;
  border: 1px solid black;
  display: block;
}
