.challenge-elements {
  width: 15%;
  text-align: center;
  margin: 10px;
  font-size: 18px;
  color: gray;
  line-height: 130%;
  border-radius: 5px;
  transition: left 0.5s;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1000px) {
  .challenge-elements {
    width: 30%;
  }
}

@media (max-width: 600px) {
  .challenge-elements {
    width: 90%;
  }
}

.challenge-elements:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}

.single-challenge-image {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.single-challenge-title {
  font-size: 20px;
  text-align: center;
}

.author-date {
  font-size: 12px;
  text-align: center;
}

.single-challenge-body {
  position: relative;
  font-size: 15px;
  width: 90%;
  margin: 5px auto 15px;
  text-align: left;
}

.challenge-card-item {
  padding-bottom: 30px;
  text-align: center;
}

.completed-below {
  margin: 10px 0 20px 0;
  height: 10px;
  width: 95vw;
  display: block;
}
