.modal-card {
  padding-bottom: 30px;
  text-align: center;
}

.challenge-card-item {
}

.completed-count-description {

}

.single-challenge-body {

}

.full-challenge-body {

}

.arrow-container {

}

.arrows {
  position: absolute;
  background: none;
  z-index: 1000;
  border: none;
  font-size: 80px;
  color: gray;
  margin-top: -100px;
}

.arrows:hover {
  color: black;
  cursor: pointer;
}

.right-arrow {
  position: absolute;
  z-index: 1000;
  right: 0;
}

.left-arrow {
  position: absolute;
  z-index: 1000;
  left: 0;
}
