.show-single-card {
  border: none;
  border-radius: 5px;
  background-color: #234C63;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 15px 0;
}

.show-single-card:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

/*modal*/
.modal-card {
  border-radius: 5px;
  padding: 10px;
  line-height: 130%;
  height: 90vh;
  overflow-y: auto;
}

.close-modal {
  font-size: 40px;
}

.edit-btn {
  position: absolute;
  font-size: 40px;
  border: none;
  color: gray;
  background: white;
  top: 0;
  right: 0;
  margin: 0px 20px;
}

.edit-btn:hover {
  color: black;
}

.check-challenge {
  position: absolute;
  font-size: 40px;
  border: none;
  color: gray;
  background: white;
  top: 0;
  left: 0;
  margin: 5px 65px;
}

.check-challenge:hover {
  color: black;
  cursor: pointer;
}

.single-challenge-image-modal{
  width: 50%;
  border-radius: 5px;
}

.single-challenge-title-modal {
  font-size: 30px;
  margin: 10px 0;
}

.single-challenge-body-modal {
  width: 90%;
  margin: auto;
  text-align: left;
}

.comment-on-card {
  width: 80%;
  font-size: 15px;
  margin-top: 30px;
  padding: 5px;
  border: none;
  resize: none;
}
