.show-single-card {
  /*background: white;*/
  border: none;
  border-radius: 100%;
  color: gray;
  text-decoration: none;
  font-size: 20px;
  float: right;
  margin: 12px;
  /*box-shadow: 0 4px #999*/
}

.show-single-card:hover{
  color: black;
  cursor: pointer;
  /*background-color: #379956;*/
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.9);*/
}

.show-single-card:active{
  background-color: #379956;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

/*modal*/
.modal-card {
  border-radius: 5px;
  padding: 30px;
  line-height: 130%;
  height: 80vh;
  overflow-y: auto;
}

.close-modal-card {
  font-size: 40px;
  position: absolute;
  top: 0;
  right: 0;
  margin: -25px -20px;
  border: none;
  background: none;
  color: gray;
}

.close-modal-card:hover {
  color: black;
  cursor: pointer;
}

.edit-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 30px;
  border: none;
  color: gray;
  background: none;
  margin: 0 40px 5px 0;
}

.edit-btn:hover {
  color: black;
  cursor: pointer;
}

.checked {
  position: absolute;
  font-size: 25px;
  border: 1px solid gray;
  border-radius: 100%;
  color: gray;
  background: white;
  top: 0;
  right: 0;
  margin: -15px;
  z-index: 1000;
  box-shadow: 0 4px #999
}

.checked:hover {
  color: black;
  cursor: pointer;
}

.checked:active {
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.check-challenge {
  position: absolute;
  font-size: 25px;
  border: 1px solid gray;
  border-radius: 100%;
  color: gray;
  background: white;
  top: 0;
  right: 0;
  margin: -15px;
  z-index: 1000;
  box-shadow: 0 4px #999
}

.check-challenge:hover {
  color: white;
  cursor: pointer;
  background-color: #379956;
}

.check-challenge:active {
  background-color: #379956;
  box-shadow: 0 4px #666;
  transform: translateY(4px);
}

.check-list {
  margin: -10px 0px;
}

.single-challenge-image-modal{
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.single-challenge-title-modal {
  font-size: 30px;
  margin: 10px 0;
}

.single-challenge-body-modal {
  width: 90%;
  margin: auto;
  text-align: left;
}

.comment-on-card {
  width: 80%;
  font-size: 15px;
  margin-top: 30px;
  padding: 5px;
  border: none;
  resize: none;
}

.user-photo-card {
  height: 40px;
  border-radius: 100%;
  margin: 5px 0px 0px 0px;
}
