.add-challenge-btn {
  font-size: 30px;
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 40px 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 100%;
  border: thin solid gray;
  background: white;
}

.add-challenge-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.modal-form {
  height: 70vh;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 30px;
  border: none;
  background: none;
  color: gray;
}

.close-modal:hover {
  color: black;
  cursor: pointer;
}

.form-title {
  font-size: 30px;
  margin-bottom: 10px;
  padding-top: 5px;
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
}

.photo-camera {
  height: 20px;
  width: 30px;
  padding-right: 10px;
  padding-top: 10px;
}

.input {
  width: 80%;
  margin: 10px;
  font-size: 15px;
}

.form-body-field {
  height: 30vh;
  overflow-y: scroll;
  resize: none;
}

.add-challenge-btn-form{
  border: none;
  border-radius: 5px;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 15px;
}

.add-challenge-btn-form:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
