.add-challenge-btn {
  font-size: 30px;
  position: fixed;
  z-index: 10000;
  right: 0;
  bottom: 0;
  margin: 20px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-weight: bold;
  border-radius: 100%;
  border: thin solid gray;
  background: white;
  color: gray;
}

.add-challenge-btn:hover {
  border: thin solid black;
  color: black;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.modal-form {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  height: 90vh;
  overflow-y: auto;
}

.close-modal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 30px;
  font-size: 40px;
  border: none;
  background: none;
  color: gray;
}

.close-modal:hover {
  color: black;
  cursor: pointer;
}

.photo-camera {
  height: 50px;
  display: block;
  margin: auto;
  padding: 10px;
}

.image-preview {
  width: 70%;
  display: block;
  margin: auto;
  padding: 10px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
  border: none;
  border-radius: 5px;
  background-color: #234C63;
  color: white;
  width: 90px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 15px 0;
}

.inputfile:focus + label,
.inputfile + label:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}

.form-title {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.input {
  width: 90%;
  margin: 10px;
  font-size: 15px;
  padding: 5px;
}

.form-body-field {
  height: 50vh;
  overflow-y: scroll;
  resize: none;
}

.add-challenge-btn-form{
  border: none;
  border-radius: 5px;
  background-color: #379956;
  color: white;
  width: 90px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 15px 0;
}

.add-challenge-btn-form:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
