.edit-modal {
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  height: 80vh;
  overflow-y: auto;
}

.close-edit-modal {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0 30px;
  font-size: 40px;
  border: none;
  background: none;
  color: gray;
}

.close-edit-modal:hover {
  color: black;
  cursor: pointer;
}

.edit-form-title {
  font-size: 30px;
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: 1px solid gray;
}

.edit-body-field {
  height: 30vh;
  overflow-y: scroll;
  resize: none;
}

.update-challenge-btn, .edit-remove-challenge {
  border: none;
  color: white;
  width: 90px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 15px 10px;
  border-radius: 100px;
}

.edit-remove-challenge {
  background-color: #63232c;
}

.update-challenge-btn {
  background-color: #379956;
}

.update-challenge-btn:hover, .edit-remove-challenge:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.card-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: -100;
  background-color: gray;
  height: 50px;
  border-radius: 0 0 5px 5px;
  opacity: 0.3;
}
