.header {
  text-align: center;
  height: 70px;
  border-bottom: 1px solid gray;
  margin: 10px;
}

.title {
  color: gray;
  font-size: 45px;
}


@media (max-width: 780px) {
  .header {
    height: 120px;
  }
  .title {
    display: block;
    width: 100%;
    font-size: 38px;
  }
}
