.Log-Out {
  font-size: 13px;
  text-align: center;
}

.log-out-btn {
  float: left;
  display: absolute;
  border: none;
  border-radius: 5px;
  background-color: #FFC85B;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.log-out-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.user-display {
  color: gray;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 30px;
}
