.Log-Out {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 0;
  margin: 20px 90px;
}

.user-display {
}

.log-out-btn {
  width: 100px;
}

.log-out-btn:hover{
  cursor: pointer;
  box-shadow: 0 0 1em gray;
}
