.search {
  position: absolute;
  right: 0;
  top: 0;
  margin: 35px 90px;
}

.search-field {
  font-size: 15px;
  width: 10vw;
  height: 25px;
  border: none;
  color: #444;
  border: thin solid gray;
  padding: 5px;
}

.search-field:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
